<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Book Alchemy - Edit Author</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}
        <p class="center">
            [<a href="{{ url_for('home') }}">Home</a>]
            [<a href="{{ url_for('add_book') }}">Add Book</a>]
            [<a href="{{ url_for('add_author') }}">Add Author</a>]<br>
            [By Title:
            <a href="{{ url_for('sort_by_title_desc') }}">Descending</a> or
            <a href="{{ url_for('sort_by_title_asc') }}">Ascending</a>]
            [By Author:
            <a href="{{ url_for('sort_by_author_desc') }}">Descending</a> or
            <a href="{{ url_for('sort_by_author_asc') }}">Ascending</a>]
        </p>
        <form action="{{ url_for('search_books') }}" method="POST" class="search center">
            <input type="text" id="search" name="search" required>
            <button type="submit" class="green">Search</button>
        </form>
        <form action="{{ url_for('edit_author', author_id=author.id) }}" method="POST" class="info_form">
            <div class="label"><label for="name">* Author Name:</label></div>
            <div><input type="text" id="name" name="name" value="{{ author.name }}" required></div>
            <div class="label"><lable for="birthdate">* Birthdate:</label></div>
            <div><input type="date" id="birthdate" name="birthdate" value="{{ author.birth_date }}" required></div>
            <div class="label"><label for="date_of_death">Date of Death:</label></div>
            <div><input type="date" id="date_of_death" name="date_of_death" value="{{ author.date_of_death }}"></div>
            <div class="button">
                <p>* = required</p>
                <input type="submit" value="Edit Author">
            </div>
        </form>
    </body>
</html>